# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/larevo_tracker"

# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# CORS Configuration (Communication With Frontend)
CORS_ORIGIN="http://localhost:3000" #(IP ADDRESS Or DOMAIN Of Your Client(Frontend))

# File Upload Configuration
UPLOAD_DIR="./uploads"

# Frontend URL (for email links and RSS feeds)
FRONTEND_URL="http://localhost:3000" #(IP ADDRESS Or DOMAIN Of Your Client(Frontend))

# API Base URL (for torrent announce URLs)
API_BASE_URL="http://localhost:3001" #(IP ADDRESS Or DOMAIN Of Your API(Backend))